# Node.js dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# MacOS system files
.DS_Store

# IDEs and editors
.vscode/
.idea/

# OS-specific files
Thumbs.db
ehthumbs.db

# build/coverage directories (optional)
build/
dist/
coverage/

# Yarn lock file (if using Yarn instead of npm)
yarn.lock